In [12]:
pip install pyspark

Requirement already satisfied: pyspark in ./anaconda3/lib/python3.11/site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in ./anaconda3/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

In [20]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum

# Create a SparkSession
spark = SparkSession.builder \
    .appName("SalesDataAnalysis") \
    .getOrCreate()

# Read the CSV file into a DataFrame
sales_df = spark.read.csv("sales_data.csv", header=True, inferSchema=True)

# Data cleaning: handling missing values and removing duplicates
cleaned_sales_df = sales_df.dropna().dropDuplicates()

# Calculate total sales amount for each product
product_sales_df = cleaned_sales_df.groupBy("Product").agg(sum("Sales").alias("TotalSales"))

# Output the results to a new CSV file
product_sales_df.write.csv("total_sales_per_product.csv", header=True)

# Stop the SparkSession
spark.stop()

In [21]:
pd.read_csv("sales_data.csv")

      Product   Sales
0   Product_A  100.25
1   Product_B   75.50
2   Product_C   50.75
3   Product_A  120.00
4   Product_B   80.25
5   Product_C   60.50
6   Product_D   45.75
7   Product_A  110.50
8   Product_B   85.25
9   Product_C   70.75
10  Product_D   55.00
11  Product_A  130.25
12  Product_B   90.50
13  Product_C   80.25
14  Product_D   65.75

In [22]:
pd.read_csv("total_sales_per_product.csv")

     Product  TotalSales
0  Product_C      262.25
1  Product_A      461.00
2  Product_B      331.50
3  Product_D      166.50